body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* .pagination {
  cursor: pointer;
} */

.pagination > li > a {
  background-color: white;
  color: #343a40;
  cursor: pointer;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
  color: #5a5a5a;
  background-color: #eee;
  border-color: #ddd;
}

.pagination > .active > a {
  color: white;
  background-color: 343a40 !important;
  border: solid 1px 343a40 !important;
}

.pagination > .active > a:hover {
  background-color: 343a40 !important;
  border: solid 1px 343a40;
}

.clickable {
  cursor: pointer;
}

.contentContainer {
  padding-left: 0;
  padding-right: 0;
  padding-top: 20px;
}

.fa-github-navbar {
  color: white;
}

.fa-github-about,
.fa-linkedin-about {
  color: black;
}
